.container{
    margin-bottom: 5% ;
    margin-left: 5% ;
    margin-right: 5% ;
    margin-top: 5% ;
}
h3{
    text-align: center;
    /*text-decoration: underline;*/
}
#textcenter{
    text-align: center;
}
body{
    /*background-image: url("../images/Bureau.jpg") no-repeat ;
    background-size: 1000px;*/
    background-color: rgb(33, 219, 243);
    font-size: medium;
    font-weight: bolder;
    color:rgb(0, 0, 0);
}
